doctype html
html
  head
    link(rel="stylesheet", href="/css/style.css")
    link(href='http://fonts.googleapis.com/css?family=Exo:400,900', rel='stylesheet', type='text/css')
  body
    #um-header.um-full
      img#um-header-img
      #um-header-title
        img#um-header-title-img(src="images/bluprint-font1.png")
    #um-body
      ul.um-list-container
        li.um-list
          img#img1.um-showcase-img(src="images/exquisite2.jpg", width="100%")
      footer.um-full
        img#um-footer-img
        label.footer-label 
          a(href="mailto:contact@ultimatemods.net") contact@ultimatemods.net
